<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') %>
    <main class="main">
      <div class="message-board">
        <% messages.forEach((message,i) => { %> <%-
        include('message',{username:message.user,text:message.text,date:message.added,index:i,}) %>
        <% }); %>
      </div>
    </main>
  </body>
</html>
